{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Login</h2>

            <!-- Display Non-Field Errors -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mt-4">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p class="mt-4 text-center">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock %}
