<div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="articleModalLabel" aria-hidden="true" ref="articleModal">
    <div class="modal-dialog" :class="{ 'modal-lg': form.type === 'AI' }">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveArticle">
                    <div class="alert alert-danger" v-if="errorMessage" role="alert">
                        [[ errorMessage ]]
                    </div>
                    <div class="mb-3" v-if="showTitleField">
                        <label for="articleTitle" class="form-label">Title</label>
                        <input type="text" v-model="form.title" @input="handleTitleChange" class="form-control"
                               placeholder="Leave empty to autofill"
                               :class="{ 'text-muted': !form.title }" required>
                    </div>
                    <div class="mb-3">
                        <label for="articleType" class="form-label">Article Type</label>
                        <select id="article-type-select" v-model="form.type" class="form-select" @change="updateParameters">
                            <option value="">Select type</option>
                            {% for value, label in lexical_article_types %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div v-if="form.type === 'Site'">
                        <div class="mb-3">
                            <label class="form-label">URL</label>
                            <input type="url" v-model="form.parameters.url" class="form-control">
                        </div>
                       <small class="form-text text-muted">
                          Available fields: {term} -words to translate, {lang}, {langCode}, {toLang}, {toLangCode}
                       </small>
                        <div class="mb-3">
                            <label class="form-label">Predefined URLs</label>
                            <select v-model="form.parameters.url" class="form-select">
                                <option value="">Select a predefined URL</option>
                                <option v-for="url in predefinedUrls" :value="url">[[ url ]]</option>
                            </select>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" v-model="form.parameters.window" class="form-check-input" id="openInNewWindow">
                            <label class="form-check-label" for="openInNewWindow">Open in new window</label>
                        </div>
                    </div>
                    <div v-if="['Translate', 'Sentence', 'Explain', 'Origin', 'Examples', 'Lexical'].includes(form.type)">
                        <div class="mb-3">
                            <label class="form-label">AI Model</label>
                            <select v-model="form.parameters.model" @change="updateParameters" class="form-select">
                                <option value="">Select model</option>
                                <option v-for="model in aiModels" :key="model.key" :value="model.key">
                                    [[ model.title ]]
                                </option>
                            </select>
                        </div>
                    </div>
                   <div v-if="form.type === 'Dictionary'">
                        <div class="mb-3">
                            <label class="form-label">Dictionary</label>
                            <select id="dictionary-select" v-if="form.type === 'Dictionary'" v-model="form.parameters.dictionary" class="form-select" required>
                                <option v-for="dict in availableDictionaries" :key="dict.value" :value="dict.value">[[ dict.label ]]</option>
                            </select>
                        </div>
                    </div>
                   <div v-if="form.type === 'AI'">
                     <div class="mb-3">
                        <label class="form-label">AI Model</label>
                        <select id="model-select" v-model="form.parameters.model" @change="updateParameters" class="form-select">
                            <option value="">Select model</option>
                            <option v-for="model in aiModels" :key="model.key" :value="model.key">
                                [[ model.title ]]
                            </option>
                        </select>
                     </div>
                     <div class="mb-3">
                       Prompt
                       <textarea v-model="form.parameters.prompt" class="form-control" rows="6" :placeholder="aiPromptPlaceholder"></textarea>
                       <small class="form-text text-muted">
                          Available fields: {text_language}, {detected_language}, {user_language}, [HIGHLIGHT], [/HIGHLIGHT], [FRAGMENT], [/FRAGMENT]
                       </small>
                     </div>
                   </div>
                    <button id="save-article-button" type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
