<div id="searchModal"
     class="modal fade"
     aria-hidden="true"
     aria-labelledby="searchModalLabel"
     role="dialog"
     data-bs-focus="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="searchModalLabel" class="modal-title">Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" name="book-code" value="{{ book.code }}"/>
          <div class="mb-3">
              <input type="text"
                     id="searchInput"
                     name="searchInput"
                     class="form-control"
                     placeholder="Enter search term"
                     autofocus
                     hx-post="{% url 'search' %}"
                     hx-trigger="keyup[target.value.length >= 3] changed delay:500ms, search"
                     hx-target="#searchResults"/>
          </div>
          <div id="searchResults" class="mt-3">
            <!-- Search results will be loaded here -->
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>