.venv*/
db.sqlite3
ssl_certs/
.idea/
bundle.js
.DS_Store
.coverage
**/__pycache__/
**/.pytest_cache/
node_modules/
.mypy_cache/
allure-results/
docs/src/ru/images/
coverage/
Lexiflux_Calibre_Plugin.zip
staticfiles/
test-koyeb.db
