.idea/
.venv/
allure-results/
dist/
build/
.venv*/
db.sqlite3*
ssl_certs/
bundle.js
.DS_Store
.coverage
**/__pycache__/
**/.pytest_cache/
node_modules/
allure-results/
coverage/
Lexiflux_Calibre_Plugin.zip
staticfiles/
test-koyeb.db
