# because use functools.lru_cache for methods
# python_version>=3.8

numpy
django
django-allauth
deep-translator
django-widget-tweaks
django-extensions
Werkzeug
pyOpenSSL
pydantic
langchain
langchain-community
langchain-core
langchain-openai
langchain_anthropic
langchain_google_genai
langchain_mistralai
lxml_html_clean
openai
ollama
EbookLib
chardet
transliterate
trafilatura
beautifulsoup4
lxml
fasttext-numpy2
nltk
pagesmith
psutil
pyjwt
unidecode
genanki
spacy
googletrans
