# because use functools.lru_cache for methods
# python_version>=3.8

numpy
django
django-allauth
httpx
requests
django-widget-tweaks
django-extensions
Werkzeug
pyOpenSSL
pydantic
llmbroker>=1.11.0
lxml_html_clean
EbookLib
chardet
transliterate
trafilatura
beautifulsoup4
lxml
fasttext-numpy2
nltk
pagesmith
psutil
pyjwt
unidecode
genanki
spacy
googletrans
