-r requirements.txt

# test
pytest
pytest-cov
pytest-django
coveralls
faker
selenium
allure-pytest
pytz
django-debug-toolbar
pytest-xdist
requests_mock

# build & reqs management

# lint
pre-commit
pyrefly
django-stubs

# debug
# versions pinned because of https://github.com/django-extensions/django-extensions/issues/1835
jupyter-client==8.0.3
jupyter-console==6.5.1
jupyter-core==5.2.0
notebook==6.5.4
traitlets==5.9.0
# higher icecream versions cause pytest failures
icecream<=2.1.3

# build & reqs management
invoke

# docs
mkdocstrings[python]
mkdocs-material
pymdown-extensions
mkdocs-awesome-pages-plugin
