# because use functools.lru_cache for methods
# python_version>=3.8
django
django-allauth
deep-translator
django-widget-tweaks
pydantic
langchain
langchain-community
langchain-core
langchain-openai
langchain_anthropic
langchain_google_genai
langchain_mistralai
openai
ollama
EbookLib
chardet
transliterate
beautifulsoup4
fasttext
nltk
