{% extends 'base.html' %}

{% block content %}
<div id="book" class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {% include 'hamburger.html' with current_page='library' %}

            <div class="mx-3 text-truncate container-fluid">
                {{ book.title }}
            </div>
        </div>
    </nav>

    <div class="container-fluid flex-grow-1">
        <div class="row justify-content-center">
        <div class="card shadow col-md-10">
            <div class="card-body">
                <h2 class="text-center my-4">Your Books</h2>
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" id="import-button">Import Books</button>
                </div>
                <div class="list-group">
                       {% for book in books %}
                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <a href="{% url 'reader' %}?book-code={{ book.code }}">{{ book.title }} by {{ book.author.name }}</a>
                                <button onclick="location.href='{% url 'book' %}?book-code={{ book.code }}'" class="btn btn-secondary">
                                    <i class="bi bi-gear-fill"></i>
                                </button>
                            </div>
                    {% empty %}
                        <p>No books available.</p>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation" class="mt-4">
                    <ul class="pagination justify-content-center">
                        {% if books.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for num in books.paginator.page_range %}
                            {% if books.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if books.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        </div>
    </div>

</div>
{% endblock %}
