<div id="book" class="d-flex flex-column vh-100">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {% include 'hamburger.html' with current_page='reader' %}

            <div class="mx-3 text-truncate title-container">
                {{ book.title }}
            </div>
        </div>
    </nav>

    <div id="words-container" class="container-fluid flex-grow-1">
        ???
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-bottom">
        <button
            class="btn btn-primary"
            id="prev-button">
            &#8592; <!-- Left arrow -->
        </button>

        <div class="mx-3 text-truncate title-container">
            {{ page.number }}
        </div>

        <button
            class="btn btn-primary"
            id="next-button">
            &#8594; <!-- Right arrow -->
        </button>
    </nav>
</div>
